<div class='card text-white black'>
  <div class='card-header card-header-custom'>
    <h4>{{pageTitle}}</h4>
  </div>
  <div class='card-body'>
    <div class='row'>
      <h4 class='col-md-4'>Apply filter by name or genre:</h4>
      <div class='col-md-4'>
        <span class="input input--kuro">
          <input class="input__field input__field--kuro" type="text" id="inputFilter" [(ngModel)]='movieNameFilter'/>
          <label class="input__label input__label--kuro" for="inputFilter">
            <span class="input__label-content input__label-content--kuro">Movie name</span>
          </label>
        </span>
      </div>
      <div class="col-md-4">
        <div class="select">
          <label for="genreSelect"></label>
          <select name="genreSelect" id="genreSelect" [(ngModel)]='genreFilter'>
            <option value="" selected >Select a genre</option>
            <option value="scifi">scifi</option>
            <option value="sport">sport</option>
            <option value="action">action</option>
            <option value="history">history</option>
            <option value="drama">drama</option>
            <option value="biography">biography</option>
            <option value="crime">crime</option>
            <option value="adventure">adventure</option>
            <option value="comedy">comedy</option>
            <option value="mystery">mystery</option>
            <option value="thriller">thriller</option>
          </select>
        </div>
      </div>
    </div>
    <div class='row'
         *ngIf='movieNameFilter'>
      <div class='col-md-6'>
        <h4>Movie name value is: {{movieNameFilter}}</h4>
      </div>
    </div>
    <div class='row'
         *ngIf='genreFilter'>
      <div class='col-md-6'>
        <h4>Movie genre value is: {{genreFilter}}</h4>
      </div>
    </div>
    <div class='table-responsive'>
      <table class='table table-dark table-custom'
             *ngIf='movies && movies.length'>
        <thead>
        <tr>
          <th>Cover</th>
          <th>Movie</th>
          <th>Key</th>
          <th>Length</th>
          <th>Genre</th>
          <th>Rate</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor='let movie of filteredMovies'>
          <td>
            <a [routerLink]="['/movies', movie.movieId]">
              <img *ngIf='showImage'
                   [src]='movie.image'
                   [title]='movie.movieName'
                   [style.width.px]='imageWidth'
                   [style.margin.px]='imageMargin'
                   alt="image of the movie">
            </a>
          </td>
          <td>
            <a [routerLink]="['/movies', movie.movieId]">
              {{ movie.movieName }}
            </a>
          </td>
          <td>{{ movie.movieKey | lowercase }}</td>
          <td>{{ movie.length }}</td>
          <td>{{ movie.genres | lowercase }}</td>
          <td>{{ movie.rate }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div *ngIf='errorMessage'
     class='alert alert-danger'>
  Error: {{ errorMessage }}
</div>
