@import "~bootstrap/dist/css/bootstrap.css";

body {
  font-family: 'Roboto', sans-serif;
  background-color: black;
}

a {
  color: #dc3545;
  &:hover {
    color: #af2b38;
    text-decoration: none;
  }
}

div {
  &.card-header {
    font-size: large;
  }
  &.card {
    margin-bottom: 5px;
    border: none;
  }
}

.text-color {
  color: #dc3545;
}

.card-header-custom {
  background-color: #1c1c1c;
}

.table {
  margin-top: 10px;
}

.black {
  background-color: #232323;
}

.dark {
  background-color: black;
}

.top-space {
  margin-top: 10em;
}

.main-tone {
  font-size: 75px;
  font-weight: bold;
}

.table-custom {
  color: #fff;
  background-color: #232323;
}

.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  max-width: 350px;
  width: calc(100% - 2em);
  vertical-align: top;
}

.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 60%;
  border: none;
  border-radius: .25em;
  background: #f0f0f0;
  color: #aaa;
  font-weight: bold;
  -webkit-appearance: none;
  &:focus {
    outline: none;
  }
}

.input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: #6a7989;
  font-weight: bold;
  font-size: 80%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
}

.graphic {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
}

.icon {
  color: #ddd;
  font-size: 150%;
}

.input--kuro {
  max-width: 320px;
  margin-bottom: 3em;
}

.input__field--kuro {
  width: 100%;
  background: transparent;
  color: #9196A1;
  opacity: 0;
  text-align: center;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input__label--kuro {
  position: absolute;
  left: 0;
  width: 100%;
  color: #dc3545;
  pointer-events: none;
  &::before, &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    border: 4px solid #747981;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
  }
  &::before {
    border-right: none;
  }
  &::after {
    left: 50%;
    border-left: none;
  }
}

.input__field--kuro:focus, .input--filled .input__field--kuro {
  opacity: 1;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.input__field--kuro:focus + .input__label--kuro::before, .input--filled .input__label--kuro::before {
  -webkit-transform: translate3d(-10%, 0, 0);
  transform: translate3d(-10%, 0, 0);
}

.input__field--kuro:focus + .input__label--kuro::after, .input--filled .input__label--kuro::after {
  -webkit-transform: translate3d(10%, 0, 0);
  transform: translate3d(10%, 0, 0);
}

.input__field--kuro:focus + .input__label--kuro .input__label-content--kuro, .input--filled .input__label-content--kuro {
  -webkit-animation: anim-2 0.3s forwards;
  animation: anim-2 0.3s forwards;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: 0;
  box-shadow: none;
  background: #232323;
  background-image: none;
}

.select {
  position: relative;
  display: block;
  max-width: 320px;
  height: 60px;
  line-height: 3;
  background: #232323;
  overflow: hidden;
  border-radius: 0;
}

select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 .5em;
  color: #dc3545;
  cursor: pointer;
  border: 4px solid #747981;
  border-radius: 0;
  font-size: small;
  &::-ms-expand {
    display: none;
  }
}

.select {
  &::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 1em;
    background: #232323;
    border: 4px solid #747981;
    pointer-events: none;
  }
  &:hover::after {
    color: #dc3545;
  }
  &::after {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
}
@-webkit-keyframes anim-2 {
  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 1);
    transform: scale3d(0.3, 0.3, 1);
  }

  51% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3.7em, 0) scale3d(0.3, 0.3, 1);
    transform: translate3d(0, 3.7em, 0) scale3d(0.3, 0.3, 1);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 3.7em, 0);
    transform: translate3d(0, 3.7em, 0);
  }
}

@keyframes anim-2 {
  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 1);
    transform: scale3d(0.3, 0.3, 1);
  }

  51% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3.7em, 0) scale3d(0.3, 0.3, 1);
    transform: translate3d(0, 3.7em, 0) scale3d(0.3, 0.3, 1);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 3.7em, 0);
    transform: translate3d(0, 3.7em, 0);
  }
}

@media only screen and (min-width: 768px) {
  .tone-title {
    padding-left: 180px;
  }
  .tone-foot {
    padding-left: 100px;
  }
}
